* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, FreeSans, sans;
}

.header {
  width: 650px;
  margin: 0px auto 1em;
}

p+p {
  margin-top: 1em;
}

.explanation {
  color: #555;
  margin-top: 0.3em;
}

.section+.section, .explanation+.section {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.hex {
  text-transform: uppercase;
}

.hex, .base64, .base58 #ciphertext {
  font-family: 'Courier', mono;
}

.wide, textarea {
  width: 100%;
  margin: 0px -4px;
  font-size: inherit;
  text-align: left;
}

textarea+*, .wide+* {
  margin-top: 0.3em;
}

/* bulk object placement */
.section {
  position: relative;
  width: 80%;
  margin: 0px auto;
  font-size: 0.8em;
}

.output {
  position: relative;
  margin-left: 10%;
}

.column {
  top: 0px;
  width: 300px;
}

.box {
  width: 80%;
  border: 2px solid #999;
  padding: 7px;
  margin-left: 10%;
  margin-bottom: 20px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

p.storyTelling {
  width: 80%;
  padding: 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
  margin-left: 10%;
  margin-bottom: 20px;  
}

#col2 { position: absolute; left: 480px; }

.floatright {
  float: right;
  text-align: right;
}

a {
  cursor: pointer;
}

a.random, #buttons a { text-decoration: none; }
a.random:hover, a.random:focus { text-decoration: underline; }

h1 {
  text-align: center;
  font-size: 40px;
  margin-top:5%;
  margin-bottom:5%;
}

h2 {
  margin: -7px -7px 3px -7px;
  text-align: center;
  font-size: 1.2em;
  color: white;
  background: #999;
}

h3 {
  font-size: 1.1em;
}

#pplaintext { border-color: #f65; }
#pplaintext h2 { background: #f65; }

#ppassword { border-color: #4a4; }
#ppassword h2 { background: #4a4; }

#pciphertext { border-color: #78f; }
#pciphertext h2 { background: #78f; }

#buttons { text-align: center; margin-top: -20px; }

a#doPbkdf2, a#encrypt, a#decrypt {
  display: inline-block;
  text-align: center;
  height: 43px;
  padding-top: 20px;
  width: 50px;
  background: url('alpha-arrow.png') no-repeat bottom center;
  vertical-align: middle;
  border: none;
  color: white;
  overflow: hidden;
}


.buttons a.disabled {
  background-color: #ccc ! important;
  cursor: inherit ! important;
}

a#encrypt { background-color: #f65; margin-bottom: 2px; }
a#encrypt:hover, a#encrypt:focus { background-color: #f76; }
a#encrypt:active { background-color: #f87; }

a#decrypt {
  height: 36px;
  padding-top: 27px;
  background: url('alpha-arrow.png') no-repeat top center;
  background-color: #78f;
  margin-top: 2px;
}
a#decrypt:hover { background-color: #89f; }
a#decrypt:focus { background-color: #89f; }
a#decrypt:active { background-color: #9af; }

#ppassword, #pkey, #pmode, #pplaintext, #pciphertext {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
input[type='text'], input[type='password'], textarea {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: inherit;
  border: 1px solid #444;
  padding: 3px;
}

input[type='text']:focus,  input[type='password']:focus, textarea:focus {
  border-color: red;
}

input[type="radio"], input[type="checkbox"] {
  position: relative;
  margin-right: .3em;
  margin-left: .6em;
  vertical-align: middle;
}

td {
  font-size:1.0em;
  padding:1px;
}

div.navBar {
  width: 80%;
  color: red;
}