    <h1>mitou</h1>
    <div>
      <img src="./me.jpg" style="float:left;width:240px;height:250px;border-radius:20%;margin-left:10%;margin-right:5%;margin-bottom:5%;">
      <p class="storyTelling" style="margin-top:5%">
        Hi, I'm Brian.  You're reading this page out of <a href="http://ipfs.io" target="_blank">ipfs</a>.  They can tell you
        about themselves better than I can, amd I hope you'll browse their site.  This page owes 
        a lot to their videos, which made me think more about the effects of what I do.  Further reading on how to use 
        ipfs on these pages is available from menu item <a href="">using ipfs here</a>.
      </p>
      <p class="storyTelling">         
        When you add a file to ipfs that data is assigned a unique address derived from its content.    
        Any ipfs node can read the file added by requesting the contents of the ipfs address.  The data moves 
        in torrents.  Any change to the content and the address changes, so recording the address renders the contents.  
        immutable.  You can find a list of ipfs gateway nodes <a href="">here</a>.
      </p>
      <p class="storyTelling">
        I only use a small portion of the of ipfs api.  One notable part of ipfs I don't use is the 
        name system, <code>ipns</code>.  I read early on that the <code>ipns</code> implementation was experiencing problems, and I 
        already knew how to post key/value pairs on the <a href="https://stellar.org" target="_blank">stellar</a> 
        blockchain.  Stellar closes blocks in seconds, so I used stellar data entires to
        relate human readable names with addresses of both <code>ipns</code> content and stellar accounts.  
        My mashup creates an indelible record of immutable data, without restriction on size.  You can write 
        any file into <code>ipns</code> and associate its authenticating address with something human friendly by writing 
        a phrase and its address into the stellar blockchain.  You can leave messages for people that way too.
      </p>
      <p class="storyTelling">
        You can load files into ipfs on my <a href="${document.location.href}/demo/" target="_blank">demo</a> page.  
        More about the demo is available from menu item <a href="">using the ipfs/stellar demo</a>.  To maintain 
        your privacy, files are encrypted using the defaults of the Stanford Javascript Crypto Library 
        <a href="${document.location.href}/sjclDemo" target="_blank">sjcl</a>.  (Open the sjcl link to verify encrypted
        file contents.)
      </p>
      <p class="storyTelling">
        I hope people will be amused here.  Yes, a weird sort of person, I know, but creating this has been pretty amusing 
        for me.  Thank you for reading this far.  Please continue.
      </p>
      <p>
        
      </p>
    </div>